&am33xx_pinmux {
    spi0_pins: pinmux_spi0_pins {
        pinctrl-single,pins = <
            /* This output signal is also used as a re-timing input. */
            0x150 0x30	/* P9_22 spi0_sclk, INPUT_PULLUP | MODE0 */
			0x154 0x30	/* P9_21 spi0_d0, INPUT_PULLUP | MODE0 */
			0x158 0x10	/* P9_18 spi0_d1, OUTPUT_PULLUP | MODE0 */
            0x15c 0x10  /* P9_17 spi0_cs0, OUTPUT_PULLUP | MODE0 */
        >;
    };

    spi1_pins: pinmux_spi1_pins {
        pinctrl-single,pins = <
            /* This output signal is also used as a re-timing input. */
            0x190 0x33      /* P9_31 spi1_sclk, INPUT_PULLUP | MODE3 */
            0x194 0x33      /* P9_29 spi1_d0, INPUT_PULLUP | MODE3 */
            0x198 0x13      /* P9_30 spi1_d1, OUTPUT_PULLUP | MODE3 */
            0x19c 0x13      /* P9_28 spi1_cs0, OUTPUT_PULLUP | MODE3 */
            0x164 0x12      /* P9_42 spi1_cs1 OUTPUT_PULLUP | MODE2 */
        >;
    };
};

&spi0 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&spi0_pins>;

    #address-cells = <1>;
    #size-cells = <0>;

    /* add any spi devices connected here */
    channel0@0 {
        #address-cells = <1>;
        #size-cells = <0>;
        //compatible = "microchip,enc28j60";
        compatible = "rtdm-spidev";
        reg = <0>;
        spi-max-frequency = <20000000>;
        //interrupt-parent=<&gpio1>;
        //interrupts=<15 0x2>; /* falling edge, P8(GPIO1_15) */
        //spi-cpol;
        //spi-cpha;
    };
};

&spi1 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&spi1_pins>;

    #address-cells = <1>;
    #size-cells = <0>;

    /* add any spi devices connected here */
    channel1@0 {
        #address-cells = <1>;
        #size-cells = <0>;
        //compatible = "microchip,enc28j60";
        compatible = "rtdm-spidev";
        reg = <0>;
        spi-max-frequency = <20000000>;
        //interrupt-parent=<&gpio1>;
        //interrupts=<15 0x2>; /* falling edge, P8(GPIO1_15) */
        //spi-cpol;
        //spi-cpha;
    };
    channel1@1 {
        #address-cells = <1>;
        #size-cells = <0>;
        compatible = "rtdm-spidev";
        reg = <1>;
        spi-max-frequency = <20000000>;
    };

};
